<manifest 
xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
  package="com.portalprofuelsv2">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 🚨 Keep only the permissions used in your app 🚨 -->
    <!--MAPS location-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- provider network location-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!--Gps precission location-->

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true"
      tools:targetApi="28"
      >
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      
      <!--para Google mapos-->
       <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyBG5vHqUyvBNRs7EZMLf3aPSZamVEl1qnA"/>

       <!-- You will also only need to add this uses-library tag -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>
